.git
.vscode
venv
__pycache__
*.pyc
*.pyo
*.pyd
*.ipynb
dataset
data
runs
validation
samples1
images_diplom
YOLO_Stenosis_Detection
runtime_storage
README.md
conclusion.txt
first_page.txt
second_page.txt
third_page.txt
fourth_page.txt
fifth_page.txt
introduction.txt
literature.txt
todo.txt
yolov8m.pt
yolov8n.pt
