.vscode
data
venv
dataset
runs
yolov8n.pt
validation
lab1
tools/lab1.py
labelImg
YOLO_Stenosis_Detection
.env
yolov8m.pt
runtime_storage/
tools/__pycache__/
app/__pycache__/
frontend/__pycache__/
temp_twod_distribution.json
*.pyc
